<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
<h1>All Post</h1><br>
<br>
<ul>
	<% @posts.each do |post| %>	
		<li>
			<%= link_to post.title, post %>
			</a>
		</li>
	<%end%>
</ul>

<button class="btn btn-lg" >
	<%= link_to "Creat New Post", new_post_path %>	
</button>
</div>